{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Fee Discount Details" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">{% translate "Fee Discount Details" %}</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ fee_discount.name }} ({{ fee_discount.code }})</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">{% translate "Actions" %}:</div>
                    <a class="dropdown-item" href="{% url 'finance:feediscount_update' pk=fee_discount.pk %}">{% translate "Edit Fee Discount" %}</a>
                    <a class="dropdown-item" href="{% url 'finance:feediscount_delete' pk=fee_discount.pk %}">{% translate "Delete Fee Discount" %}</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>{% translate "Name" %}:</strong> {{ fee_discount.name }}</p>
                    <p><strong>{% translate "Code" %}:</strong> {{ fee_discount.code }}</p>
                    <p><strong>{% translate "Discount Type" %}:</strong> {{ fee_discount.get_discount_type_display }}</p>
                    <p><strong>{% translate "Category" %}:</strong> {{ fee_discount.get_category_display }}</p>
                    <p><strong>{% translate "Value" %}:</strong> 
                        {% if fee_discount.discount_type == 'percentage' %}
                            {{ fee_discount.value|floatformat:2 }}%
                        {% else %}
                            ${{ fee_discount.value|floatformat:2 }}
                        {% endif %}
                    </p>
                    <p><strong>{% translate "Max Discount Amount" %}:</strong> 
                        {% if fee_discount.max_discount_amount %}
                            ${{ fee_discount.max_discount_amount|floatformat:2 }}
                        {% else %}
                            {% translate "N/A" %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-lg-6">
                    <p><strong>{% translate "Start Date" %}:</strong> {{ fee_discount.start_date|date:"M d, Y" }}</p>
                    <p><strong>{% translate "End Date" %}:</strong> {{ fee_discount.end_date|date:"M d, Y" }}</p>
                    <p><strong>{% translate "Is Active" %}:</strong> {% if fee_discount.is_active %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</p>
                    <p><strong>{% translate "Description" %}:</strong> {{ fee_discount.description|default:_("N/A") }}</p>
                    <p><strong>{% translate "Requirements" %}:</strong> {{ fee_discount.requirements|default:_("N/A") }}</p>
                    <p><strong>{% translate "Applicable Fee Types" %}:</strong>
                        {% if fee_discount.applicable_fee_types.all %}
                            <ul>
                                {% for fee_type in fee_discount.applicable_fee_types.all %}
                                    <li>{{ fee_type.name }} ({{ fee_type.academic_session.name }})</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% translate "All Fee Types" %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <hr>
            <a href="{% url 'finance:feediscount_list' %}" class="btn btn-secondary">{% translate "Back to List" %}</a>
        </div>
    </div>
</div>
{% endblock %}
