{% load i18n %}{% autoescape off %}
{% if uid and token %}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}
{% endif %}

{% blocktranslate trimmed %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{{ reset_url }}

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!

Regards,
{{ site_name }} Team

This link will expire in 24 hours for security reasons.
{% endblocktranslate %}

{% blocktranslate trimmed %}
If you didn't request this password reset, you can safely ignore this email.
{% endblocktranslate %}

{% blocktranslate %}Password Reset Instructions - {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
