{% load i18n %}{% autoescape off %}
{% if uid and token %}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}
{% endif %}

{% blocktranslate trimmed %}
Dear {{ user.get_full_name|default:user.get_username }},

You are receiving this email because you requested a password reset for your account on the Excellence Academy.

To reset your password, please click on the link below or copy and paste it into your browser:

{{ protocol }}://{{ domain }}{{ reset_url }}

This link will expire in 24 hours for security reasons. If you do not reset your password within this timeframe, you will need to request a new password reset.

Your username is: {{ user.get_username }}

For security:
- Never share this email or the reset link with anyone
- Make sure you create a strong, unique password
- If you didn't request this password reset, please contact our support team immediately

Thank you for being part of our educational community!

Best regards,
{{ site_name }} Team

Excellence Academy
{{ protocol }}://{{ domain }}
{% endblocktranslate %}

{% blocktranslate trimmed %}
If you didn't request this password reset, please contact the system administrator immediately.

For support, visit: {{ protocol }}://{{ domain }}/users/contact/
Or email: support@{{ domain|domain_without_www }}

This email was sent automatically. Please do not reply to this email.
{% endblocktranslate %}

{% blocktranslate %}Password Reset Instructions - Excellence Academy{% endblocktranslate %}
{% endautoescape %}
